table {
    width: 100%;
}

.title {
    width: 100%;
}

.title h2 {
    text-align: center;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a, .pagination span {
    margin: 0 5px;
    padding: 2px 2px;
    text-decoration: none;
}